# 忽略构建输出和临时文件
build/
*.elf
*.map
*.o
*.obj
*.log
*.bin
*.hex
*.exe
*.out
*.pyc
*.pyo
*.swp
*.swo
*.swn
*.bak
*.tmp
*.user
*.DS_Store
*.vscode/
# CMake生成文件
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CMakePresets.json
build.ninja
compile_commands.json
# STM32CubeMX生成的临时文件
*.ioc
# IDE相关文件
*.launch
*.settings/
*.cproject
*.project
# 其他常见忽略
Thumbs.db
